<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="app.css" />
        <title>Liste events Nantes</title>
    </head>
    <body>
        <div id="main">
            <h1>Liste des évènements de Nantes</h1>

<!--            <p v-for="event in events">{{ event.datasetid }}</p>-->
            <p v-for="event in events">{{ event.fields }}</p>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>